# ignore emacs backup files
*~

# ignore eclipse project files
.project
.cproject

# conmpiled source
*.com
*.class
*.dll
*.exe
*.o
*.obj
*.so
*.a

# packages
*.tar
*.gz
*.zip
*.rpm
*.jar
*.war
